*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Android Studio
.idea/
.gradle
/*/local.properties
/*/build
*.iws
*.ipr
*~
*.swp
*.iml
build
app/app.iml
/captures
